<%- include('./partials/head') %>

<a class ="back" href="/">Back</a>

</header>

<!-- Persoons kaartje -->

<div class="person-container">
    <article class="card detail-card">
        <img class="person-avatar" src="<%- person.avatar %><%= (person.avatar == '') ? '/images/fallback.png' : person.avatar %>" onerror="this.src='/images/fallback.png'" alt="avatar">
        <h2 class="name"><%- person.name %> <%- person.prefix %> <%- person.surname %></h2>
        <p class="nickname"><%- person.nickname %></p>
        <p class="bio"><%- person.bio %></p>
        <a href="<%- person.website %>"><img class="laptop" src="/assets/laptop-svgrepo-com.svg" alt="github link"></a>
        <button class="message-button" id="personsCardSeeMessages">Zie eerdere berichten</button>
        <button class="message-button" id="personsCardMessagesActivate">Verstuur een bericht!</button>
    </article>
</div>

<!-- Verstuur bericht popup -->

<article class="persons-card-messages right">
    <div class="close-container">
        <button class="close" id="personsCardMessagesDeactivate">❌Sluit</button>
        <label class="messages" for="bericht">Stuur een bericht naar <%- person.name %>!</label>
    </div>
    <form method="POST" action="/person/<%- person.id %>"> <!-- D.m.v POST als method te gebruiken kunnen we in de server.js met een POST route de berichten opslaan in de variabele en die weer opslaan/PATCHen in de API -->
            <textarea required id="bericht" name="bericht"></textarea>

        <button class="submit-button" name="actie" value="verstuur" type="submit">Verzend</button>
    </form>
</article>

<!-- Bekijk berichten popup -->

<article class="persons-card-check-messages left">
    <div class="close-container">
        <button class="close" id="personsCardMessagesClose">❌Sluit</button>
        <h2 class="messages">berichten</h2>
    </div>
    <% if (person.custom.messages && person.custom.messages.length) { %> <!-- Als er custom berichten bestaan,... -->
        <ul>
          <% person.custom.messages.forEach(message => { %> <!-- Laat dan voor elk bericht, het bericht zien in de vorm van een li -->
            <li><%= message %></li>
          <% }) %>
          </ul>
      <% } else { %> <!-- Zo niet, laat dan dit zien: -->
        <p>Er zijn nog geen berichten.</p>
      <% } %> 
</article>

<%- include('./partials/foot') %>