<%- include('./partials/head') %>

<a class ="back" href="/">Back</a>

</header>

<div class="person-container">
    <li class="card detail-card">
        <img class="person-avatar" src="<%- person.avatar %> <%= (person.avatar == '') ? '/images/fallback.png' : person.avatar %>" onerror="this.src='/images/fallback.png'" alt="avatar">
        <p class="name"><%- person.name %> <%- person.prefix %> <%- person.surname %></p>
        <p class="nickname"><%- person.nickname %></p>
        <p class="bio"><%- person.bio %></p>
        <a href="<%- person.website %>"><img class="laptop" src="/assets/laptop-svgrepo-com.svg"></a>
        <button id="personsCardMessagesActivate">Verstuur een bericht</button>
        <button id="personsCardSeeMessages">Zie eerdere berichten</button>
    </li>
</div>

<article class="persons-card-messages right">
    <button id="personsCardMessagesDeactivate">❌Sluit</button>
    <form method="POST" action="/person/<%- person.id %>">
        <label>verstuur een bericht</label>
            <textarea required name="bericht"></textarea>

        <button  name="actie" value="verstuur" type="submit">Verzend</button>
    </form>
    
</article>

<article class="persons-card-messages right">
    <button id="personsCardMessagesClose">❌Sluit</button>
    <h2>berichten</h2>
    <ul>
        <% person.custom.messages.forEach(message => { %>
            <li><%= message %></li>
        <% }) %>
    </ul> 
</article>

<!-- <h2 class="details-subtitle">Berichten:</h2> -->

<!-- <div class="messages-container">

<ul>
    <% messages.forEach(message => { %>
    <li class="message text-bubble left"><%- message %></li>
<% }) %>
</ul>

<form class="comment-form" method="POST" action="/person/<%- person.id %>">
    <label for="bericht">Laat een bericht achter!</label>
        <textarea class="text-bubble right input" required name="bericht"></textarea>
    <button name="verstuur" class="submit-button" type="submit">Verstuur</button>
</form>
</div> -->

<%- include('./partials/foot') %>