<%- include('./partials/head') %>

<a class ="back" href="/">Back</a>

</header>

<div class="person-container">
    <li class="card detail-card">
        <img class="person-avatar" src="<%- person.avatar %> <%= (person.avatar == '') ? '/images/fallback.png' : person.avatar %>" onerror="this.src='/images/fallback.png'" alt="avatar">
        <p class="name"><%- person.name %> <%- person.prefix %> <%- person.surname %></p>
        <p class="nickname"><%- person.nickname %></p>
        <p class="bio"><%- person.bio %></p>
        <a href="<%- person.website %>"><img class="laptop" src="/assets/laptop-svgrepo-com.svg"></a>
        <button class="message-button" id="personsCardSeeMessages">Zie eerdere berichten</button>
        <button class="message-button" id="personsCardMessagesActivate">Verstuur een bericht!</button>
    </li>
</div>

<article class="persons-card-messages right">
    <div class="close-container">
        <button class="close" id="personsCardMessagesDeactivate">❌Sluit</button>
        <label class="messages" for="bericht">Stuur een bericht naar <%- person.name %>!</label>
    </div>
    <form method="POST" action="/person/<%- person.id %>">
            <textarea required name="bericht"></textarea>

        <button class="submit-button" name="actie" value="verstuur" type="submit">Verzend</button>
    </form>
</article>


<article class="persons-card-check-messages left">
    <div class="close-container">
        <button class="close" id="personsCardMessagesClose">❌Sluit</button>
        <h2 class="messages">berichten</h2>
    </div>
    <% if (person.custom.messages && person.custom.messages.length) { %>
        <ul>
          <% person.custom.messages.forEach(message => { %>
            <li><%= message %></li>
          <% }) %>
          </ul>
      <% } else { %>
        <p>Er zijn nog geen berichten.</p>
      <% } %> 
</article>

<%- include('./partials/foot') %>